section{
    background-image: url(https://www.w3schools.com/css/gradient_bg_vertical.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

article{
    background-image: url(https://picsum.photos/300/200);
    background-position: right;
    background-repeat: no-repeat;
}