section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

figure {
  width: 400px;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

img {
  width: 50%;
}
