*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 5px solid red;
}

img{
    max-width: 100%;
}

section article{
    text-align: center;
}

section article a{
    background-color: crimson;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    display: inline-block;
}

section article h1,
section article p{
    margin-bottom: 15px;
}

section img{
    display: none;
}

h1{
    width: 2000px;
}

p{
    width: 900px;
}

@media only screen and (min-width: 768px) {
    section{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    section article,
    section img{
        max-width: 45vw;
    }
    section img{
        display: inline;
    }
}