@import "mixin.scss";

// ! BASIC

* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

.header{
	@include header;
}

h1, h2 {
	@include fontSize1;
}

.nav_links {
	margin-top: $rem1;
	display: flex;
	justify-content: center;
	margin-bottom: $rem1;
	background-color: rgba(0, 0, 255, 0.514);
}


a {
padding:$rem1;
	text-decoration: none;
	color: black;
	font-family: Arial, Helvetica, sans-serif;
}
.main {
	@include centered;
}

.section_text > h3 {
	text-align: center;
}

.section_text, .section_images {
	margin: $rem1;
}

.section_images {
	@include centered;
    
}
img {
	height: 12rem;
	width: 18rem;
	margin: 0 0.5rem $rem1 0.5rem
}

.aside {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	margin: $rem1;
}


.first_aside, .second_aside, .third_aside, .fourth_aside {
	border: 0.2rem solid $darkblue;    
	padding: $rem1;
	margin-bottom: $rem1;
}

.footer_links {
	display: flex;
	justify-content: center;
	margin-bottom: $rem1;
}
.footer {
	height: 5rem;
	margin-top: $rem1;
	background-color: $darkblue;
}

@media screen and (min-width: 600px) {
	
    @include mobile;

}