section{
    width: 100vw;
    height: 100vh;
}

.ball{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: red;
    animation: move 4s infinite;
}

.ball:hover{
    animation-play-state: paused;
}

@keyframes move {
    0%, 100% {
      transform: translate(0);
      background-color: red;
    }
  
    25% {
        transform: translateX(100%);
        background-color: yellow;
    }
  
    50% {
        transform: translate(100%,100%);
        background-color: green;
    }
  
    75% {
        transform: translateY(100%);
        background-color: blue;
    }
  }
  